* {
  box-sizing: border-box;
}

body {
  color: #282828;
}

.container {
  margin: 0 auto;
}

h1, h2 {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

table {
  margin: auto;
  margin-bottom: 1%;
}

td {
border: 2px solid #404040;
height: 200px;
width: 200px;
}

.square {
  color: #282828;
  font-size: 84px;
  font-family: monospace;
  text-align: center;
}

.reset {
  display: block;
  margin: auto;
  padding: 12px;
  display: block;
  background-color: white;
  font-family: "Lato";
  font-size: 12px;
  font-weight: bolder;
  border: 2px solid hotpink;
  border-radius: 2px;
}

.reset:hover {
  padding: 15px;
  transition: 0.5s;
  font-size: 14px;
}
.keepBanana, .keepMuffin {
  position: absolute;
  top: 25%;
  height: 500px;
  width: 150px;
}

.keepBanana {
  right: 10%;
}

.keepMuffin {
  left: 10%;
}

.score {
  font-family: monospace;;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
