* {
  box-sizing: border-box;
}


body {
  background-color: #f0f0f0;
}
h1 {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 60px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #282828;
}
table {
  margin: auto;
}
td {
border: 2px solid #404040;
height: 200px;
width: 200px;
}
